// Place all the styles related to the Fighters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fighter-header {
    text-align: center;
    color: red;
    font-size: 45px;
    text-transform: uppercase;
   
}

body {
    background-color: lightgrey;
}